<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">SIMBION [A16]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

            {% if request.session.role == 'mahasiswa'%}
            <li class="nav-item">
                <a class="nav-link" href="#">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Apply for a scholarship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lihat Hasil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout-request/">Logout</a>
            </li>

            {% elif request.session.role == 'donatur'%}
            <li class="nav-item">
              <a href="#" class="nav-link">Lihat Beasiswa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/skema_beasiswa/">Make a new program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Announce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout-request">Logout</a>
            </li>

            {% elif request.session.role == 'admin' %}
            <li class="nav-item">
              <a href="#" class="nav-link">Lihat Tempat Wawancara</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Membuat Tempat Wawancara</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Membuat Pengumuman</a>
            </li>
            <li class="nav-item">
              <a href="/logout-request" class="nav-link">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link"> Login </a>
            </li>

            {% endif %}
            </ul>
        </div>
    </div>
</nav
