{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>{{ data_skema.nama }} - {{ data_skema.no_urut }}</h1>

    <h3>{{ data_skema.deskripsi }}</h3>
    <h3>Persyaratan :</h3>

    {% if request.session.role == 'mahasiswa' %}
    <a href="{% url 'skema_beasiswa:daftar_beasiswa' %}"><button class="btn btn-primary btn-lg">Daftar</button></a>
    {% endif %}
</div>
{% endblock %}