{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
{% if flag_new_beasiswa %}
  <div class="container">
    <div class="judul">
        <h1> FORM PENDAFTARAN TAMBAH BEASISWA DARI PAKET </h1>
    </div>
    <form action="{% url 'skema_beasiswa:add_beasiswa_to_schema' %}" method="POST">
        {% csrf_token %}
        <p>
          <label for="kode_skema_beasiswa"> Kode Beasiswa : </label>
          <select id="kode_skema_beasiswa" name ="kode_skema_beasiswa">
          {% for kode in daftar_kode_beasiswa %}
              <option value = {{kode.kode_skema_beasiswa}}> {{kode.kode_skema_beasiswa}} </option>
          {% endfor %}
          </select>
        </p>
        <p>
          <label for="no_urut"> Nomor Urut : </label>
          <input type="text" id="no_urut" name="no_urut" required>
        </p>
        <p>
          <label for="tgl_mulai_pendaftaran"> Tanggal Mulai Pendaftaran : </label>
          <input type="datetime-local" id="tgl_mulai_pendaftaran" name="tgl_mulai_pendaftaran">
        </p>
        <p>
          <label for="tgl_tutup_pendaftaran"> Tanggal Tutup Pendaftaran : </label>
          <input type="datetime-local" id="tgl_tutup_pendaftaran" name='tgl_tutup_pendaftaran'/>
        </p>
        <button type="submit" class="btn btn-primary">Choose</button>
    </form>
  </div>
{% endif %}
{% if flag_new_schema %}
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="rata-tengah">
              <div class="judul">
                  <h1> FORM PENDAFTARAN PAKET BEASISWA </h1>
              </div>
              <form action="{% url 'skema_beasiswa:add_skema_beasiswa' %}" method="POST">
                  {% csrf_token %}
                  <p>
                    <label for="kode_skema_beasiswa"> Kode : </label>
                    <input type="text" id="kode_skema_beasiswa" name="kode_skema_beasiswa" required>
                  </p>
                  <p>
                    <label for="nama_skema_beasiswa"> Nama Paket Beasiswa : </label>
                    <input type="text" id="nama_skema_beasiswa" name="nama_skema_beasiswa" required>
                  </p>
                  <p>
                      <label for="jenis_skema_beasiswa"> Jenis Paket Beasiswa : </label>
                      <select id="jenis_skema_beasiswa" name ="jenis_skema_beasiswa">
                        <option value = "bantuan"> Bantuan </option>
                        <option value = "penelitian"> Penelitian </option>
                        <option value = "prestasi"> Prestasi </option>
                        <option value = "akademik"> Akademik </option>
                      </select>
                  </p>
                  <p>
                    <label for="deskripsi_beasiswa"> Deskripsi : </label>
                    <input type="text" id="deskripsi_beasiswa" name="deskripsi_beasiswa" rows = "3" required>
                  </p>
                  <p>
                    <label for="syarat_beasiswa"> Syarat Beasiswa : </label>
                    <input type="text" id="syarat_beasiswa" name="syarat_beasiswa" rows = "3" required>
                  </p>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
  </div>
{% endif %}
{% endblock %}

{% block javascript%}
  <script type="text/javascript">
    $(function() {
      $('#datetimepicker').datetimepicker();
    });
  </script>
{% endblock %}
