{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> FORM PENDAFTARAN BEASISWA </h1>
            </div>
            <form action="{% url 'skema_beasiswa:daftar_beasiswa' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="kode_skema_beasiswa"> Kode Beasiswa : </label>
                    <select id="kode_skema_beasiswa" name="kode_skema_beasiswa">
                    {% for kode in daftar_kode_beasiswa %}
                      <option value= {{kode.kode_skema_beasiswa}}> </option>
                    {% endfor %}
                    </select>
                  </p>
                  <p>
                    <label for="npm"> NPM : </label>
                    <input value = {{npm_pendaftar}} disabled></input>
                  </p>
                  <p>
                    <label for="email"> Email : </label>
                    <input value = {{email_pendaftar}} disabled></input>
                  </p>
                <button type="submit" class="btn btn-primary">Choose</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
