{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> FORM PENDAFTARAN TAMBAH BEASISWA DARI PAKET </h1>
            </div>
            <form action="{% url 'skema_beasiswa_aktif:add_beasiswa' %}" method="POST">
                {% csrf_token %}
                <p>
                  <label for="kode_skema_beasiswa"> Kode Beasiswa : </label>
                  <input type="text" id="kode_skema_beasiswa" name="kode_skema_beasiswa" required>
                </p>
                <p>
                  <label for="nama_paket_beasiswa"> Nama Paket Beasiswa : </label>
                  <input type="text" id="nama_paket_beasiswa" name="nama_paket_beasiswa" required>
                </p>
                <p>
                    <label for="jenis_paket_beasiswa"> Jenis Paket Beasiswa : </label>
                    <select id="jenis_paket_beasiswa" name ="jenis_paket_beasiswa">
                      <option value = "bantuan"> Bantuan </option>
                      <option value = "penelitian"> Penelitian </option>
                      <option value = "prestasi"> Prestasi </option>
                      <option value = "akademik"> Akademik </option>
                    </select>
                </p>
                <p>
                  <label for="deskripsi_beasiswa"> Deskripsi : </label>
                  <input type="text" id="deskripsi_beasiswa" name="deskripsi_beasiswa" rows = "3" required>
                </p>
                <p>
                  <label for="syarat_beasiswa"> Syarat Beasiswa : </label>
                  <input type="text" id="syarat_beasiswa" name="syarat_beasiswa" rows = "3" required>
                </p>
                <button type="submit" class="btn btn-primary">Choose</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
