{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> DONATUR DO? </h1>
                <p class="text-info"> Choose what donatur do? </p>
            </div>
            <form action="{% url 'skema_beasiswa:index' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="donatur_do"> Apa yang dilakukan oleh Donatur? </label>
                    <select id="donatur_do" name ="donatur_do">
                      <option value = "tambah_sb_baru"> Tambah Skema Beasiswa Baru </option>
                      <option value = "tambah_beasiswa_dari_sb"> Tambah Beasiswa Baru dari Paket </option>
                    </select>
                </p>
                <button type="submit" class="btn btn-primary">Choose</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
