{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <table class="table">
        <thead>
        <th> No</th>
        <th> Nama Beasiswa </th>
        <th> Waktu Tutup Pendaftaran</th>
        <th> Status Beasiswa </th>
        <th> Jumlah Pendaftar </th>
        <th> Detail </th>    
      </thead>
      <tbody>
      {% for paketbeasiswa in list_beasiswa_aktif %}
      <tr>
          <td> {{ forloop.counter }}</td>
          <td> {{ paketbeasiswa.nama }} </td>
          <td> {{ paketbeasiswa.tgl_tutup_pendaftaran }}</td>
          <td> {{ paketbeasiswa.status}}</td>
          <td> {{ paketbeasiswa.jumlah_pendaftar}}</td>
          <td> <a href="{% url 'skema_beasiswa:skema_detail' paketbeasiswa.kode_skema_beasiswa_id paketbeasiswa.no_urut %}"><buton class="btn-primary">see more</buton></a> </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}
