{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="container content-center">
    <div class="container-sm">
        <div class="judul">
            <h1> LOGIN </h1>
            <p class="text-info"> Use your <b> SIMBION's account </b> to LOGIN </p>
        </div>
        <form action="{% url 'login_request' %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-grou-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">@</span>
                </div>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="password" id="password" name="password" placeholder="password" required>
            </div>
            <div>
              <a href = "/register/"><p> Don't have an account? </p> </a>
            </div
            <button type="submit" class="btn btn-primary flex-end">Login</button>
        </form>
    </div>
</div>
{% endblock %}
