{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="container">
            <div class="judul">
                <h1> REGISTER DONATUR</h1>
                <p class="text-info"> Register as donatur </p>
            </div>
            {% if donatur_type == 'individual' %}
              <form action="{% url 'add_donatur_individual' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="username"> Username : </label>
                      <input class="form-control" type="text" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                      <label for="password"> Password : </label>
                      <input class="form-control" type="password" id="password" name="password" required>
                  </div>
                  <div class="form-group">
                      <label for="nomor_identitas"> Nomor Identitas : </label>
                      <input class="form-control" type="text" id="nomor_identitas" name="nomor_identitas" required>
                  </div>
                  <div class="form-group">
                      <label for="nik"> NIK : </label>
                      <input class="form-control" type="text" id="nik" name="nik" required>
                  </div>
                  <div class="form-group">
                      <label for="email"> Email : </label>
                      <input class="form-control" type="email" id="email" name="email" required>
                  </div>
                  <div class="form-group">
                      <label for="nama"> Nama Lengkap : </label>
                      <input class="form-control" type="text" id="nama" name="nama">
                  </div>
                  <div class="form-group">
                      <label for="npwp"> NPWP : </label>
                      <input class="form-control" type="text" id="npwp" name="npwp" required>
                  </div>
                  <div class="form-group">
                      <label for="no_telp"> Nomor Telepon : </label>
                      <input class="form-control" type="text" id="no_telp" name="no_telp" required>
                  </div>
                  <div class="form-group">
                      <label for="alamat"> Alamat : </label>
                      <input class="form-control" type="text" id="alamat" name="alamat" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
            {% else %}
              <form action="{% url 'add_donatur_yayasan' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="username"> Username : </label>
                      <input class="form-control" type="text" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                      <label for="password"> Password : </label>
                      <input class="form-control" type="password" id="password" name="password" required>
                  </div>
                  <div class="form-group">
                      <label for="nomor_identitas"> Nomor Identitas : </label>
                      <input class="form-control" type="text" id="nomor_identitas" name="nomor_identitas" required>
                  </div>
                  <div class="form-group">
                      <label for="nomor_sk_yayasan"> Nomor SK Yayasan : </label>
                      <input class="form-control" type="text" id="nomor_sk_yayasan" name="nomor_sk_yayasan" required>
                  </div>
                  <div class="form-group">
                      <label for=""> Email : </label>
                      <input class="form-control" type="email" id="email" name="email" required>
                  </div>
                  <div class="form-group">
                      <label for="nama"> Nama Yayasan : </label>
                      <input class="form-control" type="text" id="nama" name="nama">
                  </div>
                  <div class="form-group">
                      <label for="no_telp"> Nomor Telepon Contact Person : </label>
                      <input class="form-control" type="text" id="no_telp" name="no_telp" required>
                  </div>
                  <div class="form-group">
                      <label for="npwp"> NPWP : </label>
                      <input class="form-control" type="text" id="npwp" name="npwp" required>
                  </div>
                  <div class="form-group">
                      <label for="alamat"> Alamat Yayasan : </label>
                      <input class="form-control" type="text" id="alamat" name="alamat" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
            {% endif %}
            <br>
            <br>
            <br>
</div>
{% endblock %}
