{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="judul">
        <h1>Register </h1>
    </div>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="selected_role"> Select your Role </label>
            <select class="form-control" id="selected_role" name ="selected_role">
                <option value = "donatur"> Donatur </option>
                <option value = "mahasiswa"> Mahasiswa </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Choose</button>
    </form>
</div>
{% endblock %}
