{% extends "base/layout/base.html" %}
{% load static %}
{% block content %}
<div class="container">
            <div class="judul">
                <h1> TIPE DONATUR </h1>
                <p class="text-info"> Choose donatur type </p>
            </div>
            <form action="{% url 'select_donatur_type' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="selected_donatur_type"> Select tipe Donatur </label>
                    <select class="form-control" id="selected_donatur_type" name ="selected_donatur_type">
                      <option value = "individual"> Individual </option>
                      <option value = "yayasan"> Yayasan </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Choose</button>
            </form>
</div>
{% endblock %}
